body{
  margin:0;
  padding:0;
  background-color: #f6f6f6;
  font-family: Roboto,Helvetica,sans-serif;
}
.container{
  width:960px;
  margin:0 auto;
}

.sidebar{
  background-image: url("../img/abstract.jpg");
  background-size: cover;
  box-shadow:inset 0 0 0 2000px rgba(0,0,0,0.7);
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  bottom: 0;
  left: 0;
  position: fixed;
  overflow: hidden;
  z-index: 2;
  width: 25%;
  font-size: 14px;
  color: #fff;
  text-align: left;
  padding-top: 10px;
}

.sidebar a{
  text-decoration: none;
  font-size: 1.05rem;
  line-height: 1.6rem;
  display: block;
  color: rgba(255, 255, 255, 0.6)
}
.sidebar a:hover{
  color: #fff;
}
.current a{
  color: #fff;
}
li{
  list-style: none;
}
.sidebar ul{
  margin-left: -25px;
}
.name{
  margin-top: 10px;
  margin-left: 15px;

}

.profile {
  margin: 0 auto;
  width: 150px;
  height: 150px;
  border-radius: 50%;

  background-image: url('../img/profile.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main{
  margin-top: -20px;
  margin-left: 25%;
  color: ccc;
  padding-left: 3%;
  padding-bottom: 3%;
  background-color: #fff;
}
